* {
    /* Removendo margin e padding padrão do navegador */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #2B3E50;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

.container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.content {
    text-align: center;
    width: 80%;
    padding: 10px;
}

.sectionTitle {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    font-family: Muli, sans-serif;
}

/*=======================================================================*/

.headerContent {
    border-bottom: 3px solid #fff;
}

.headerTitle {
    font-family: 'Pacifico', cursive; 
    font-size: 60px; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.headerTitle {
    animation: bounce 1s infinite alternate; 
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
/*=======================================================================*/

.sectionContent {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
}

.firstSection {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.secondSection {
    flex: 1;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cidade {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    padding-left: 15px;
    transition: border-color 0.3s ease; 
}
.cidade::placeholder{
    color: #fff;
}
    
.cidade:focus {
    
    outline: none; 
    
}

.botao {
    width: 120px;
    height: 40px;
    background-color: #2B3E50;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}

.botao:hover {
    font-size: 25px;
    transition: all 0.3s ease;
    background-color: #fff; 
    color: #2B3E50; 
}

/*=======================================================================*/

.infoBox {
    width: 200px;
    text-align: start;
}

.info {
    font-size: 22px;
    padding: 10px;
}
.rain {
    font-size: 22px;
    padding: 10px;
}
.photo {
    width: 400px;
    height: 300px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    display: none;
    border-radius: 10px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
    transition: opacity 0.5s ease; 
}
.footer {
    background-color: #2B3E50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*Fazendo o site ser responsivo*/

@media (max-width:425px){ 
    .container {
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    
    .content {
      
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .headerTitle {
        font-size: 30px;
    }
    /*=================================================*/

    .sectionContent {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin-top: 25px;
    }
    
    .firstSection {
        height: 200px;
        margin-bottom: 50px;
    }   
   
    .cidade {
        width: 200px;
        height: 30px;
        border-radius: 15px;      
        padding-left: 5px;
        font: 12px;
    }
    .sectionTitle {
        font-size: 15px;
        margin-bottom: 20px;
        
    }
    .botao {
        width: 80px;
        height: 30px;
        font-size: 15px;
        border-radius: 15px;
       
    }
    .botao:hover {
        font-size: 19px;
    }
    .photo {
        width: 200px;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 10px;
        
    }
}

/*============================================================================*/
@media (min-width: 426px) and ( max-width:768px){ 
    .container {
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    
    .content{    
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .headerTitle {
        font-size: 40px;
    }
    /*=================================================*/

    .sectionContent {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin-top: 25px;
    }
    
    .firstSection {
        height: 200px;
        margin-bottom: 50px;
    }   
   
    .cidade {
        width: 400px;
        height: 40px;
        border-radius: 20px;      
        padding-left: 10px;
     
    }
    .sectionTitle {
        font-size: 25px;
        margin-bottom: 20px;
        
    }
    .botao {
        width: 120px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
       
    }
    .botao:hover {
        font-size: 24px;
    }
    .photo {
        width: 400px;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 10px;
        
        
    }
    .infoBox{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
